{#
/**
 * @file
 * Default theme implementation for status messages.
 *
 * Displays status, error, and warning messages, grouped by type.
 *
 * An invisible heading identifies the messages for assistive technology.
 * Sighted users see a colored box. See http://www.w3.org/TR/WCAG-TECHS/H69.html
 * for info.
 *
 * Add an ARIA label to the contentinfo area so that assistive technology
 * user agents will better describe this landmark.
 *
 * Available variables:
 * - message_list: List of messages to be displayed, grouped by type.
 * - status_headings: List of all status types.
 * - display: (optional) May have a value of 'status' or 'error' when only
 *   displaying messages of that specific type.
 * - attributes: HTML attributes for the element, including:
 *   - class: HTML classes.
 *
 * @ingroup themeable
 */
#}
{%-
  set type_map = {
    'error': {
      'color': 'is-danger',
      'text-color': 'has-text-danger',
      'icon': 'fa-ban',
    },
    'status': {
      'color': 'is-success',
      'text-color': 'has-text-success',
      'icon': 'fa-info-circle',
    },
    'warning': {
      'color': 'is-warning',
      'text-color': 'has-text-warning',
      'icon': 'fa-exclamation',
    },
  }
-%}
{%
  set attributes = attributes.setAttribute('role', 'contentinfo')
%}
<div data-drupal-messages>
{% for type, messages in message_list %}
  {%
    set is_message_with_title = status_headings[type]
  %}
  {%
    set is_message_with_icon = type_map[type]
  %}
  {%
    set type_attributes = attributes.setAttribute('aria-labelledby', title_ids[type])
  %}

  <div>
    {% if type == 'error' %}
      <div role="alert">
    {% endif %}
      {% if is_message_with_title or is_message_with_icon %}
        {% set header_content %}
          {% if is_message_with_title %}
            {% if is_message_with_icon %}
              {%
                set icon_text = {
                  items: [
                    {
                      icon: {
                        icon_set: 'fas',
                        icon: type_map[type].icon,
                        text_color: type_map[type].text_color,
                      },
                      text: status_headings[type],
                    },
                  ],
                }
              %}
              {{ include('@bulma_components/elements/icon_text/icon_text.html.twig', icon_text, with_context = false) }}
            {% else %}
              {{ status_headings[type] }}
            {% endif %}
          {% endif %}
        {% endset %}
      {% endif %}
      {% set body_content %}
        {% if messages|length > 1 %}
          <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% else %}
          {{ messages|first }}
        {% endif %}
      {% endset %}
      {%
        set message = {
          attributes: type_attributes,
          color: type_map[type].color,
          header: {
            attributes: create_attribute({'id': title_ids[type]}),
            content: header_content,
          },
          body: {
            content: body_content,
          },
        }
      %}
      {{ include('@bulma_components/components/message/message.html.twig', message, with_context = false) }}
    {% if type == 'error' %}
      </div>
    {% endif %}
{% endfor %}
</div>
